* {
    box-sizing: border-box;
}

body {
    color: #ffa500;
    background: #000;
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0px;
    overflow-x: hidden;
}

.video {
    height: 100vh;
    display: flex;
    align-items: center;
}

a:link {
    color: #ff8c00;
}

a:visited {
    color: #ff4500;
}